node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
.github
.gitignore
.dockerignore
.env
.env.*
*.md
!README.md
coverage
.nyc_output
logs
*.log
.DS_Store
.vscode
.idea
*.swp
*.swo
Thumbs.db
*.tmp
*.temp
test
